<%= form_for @landmark do |f| %>

    <div>
        <div class="landmark-pic">
            <%= image_tag(@landmark.photo) %>
        </div>
        <%= f.label :photo %>
        <%= f.text_field :photo %>
    </div>

    <div>
        <%= f.label :caption %>
        <%= f.text_field :caption %>
    </div>

    <div>
        <%= f.label :location %>
        <%= f.text_field :location %>
    </div>

    <div>
        <%= f.label :address %>
        <%= f.text_field :address %>
    </div>

    <div>
        <%= f.collection_select(:tours, @tours, :id, :name) %>
    </div>




    <%= f.submit "Submit" %>

<% end %>
