<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-4">
    <%= form_tag landmarks_path, :method => :get do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class:"form-control", placeholder:"Search Landmarks..." %>
      <span class="input-group-btn">
        <%= submit_tag "Go", name: nil, class:"btn btn-default" %>
      </span>
      </div><!-- /input-group -->
    <% end %>
  </div>
  <div class="col-sm-2 col-sm-offset-6">
    <%= link_to "New Landmark", new_landmark_path, class: "btn btn-default" %>
  </div>
</div>

<br>


<div class="row grid">
    <% @landmarks.each do |landmark| %>
    <div class="landmark col-sm-6 col-md-4 tile">
      <div class="thumbnail">

        <a href="<%= landmark_path(landmark) %>" title=""><img src="<%= landmark.photo %>" alt="<%= landmark.caption %>"></a>

        <div class="caption">
          <h3><%= landmark.caption %></h3>
          <p><strong><%= landmark.location %></strong></p>
          <p><%= landmark.address %></p>
          <p>
            By: <%= landmark.user == current_user ? "You": landmark.user.name %>
            <% if current_user && current_user == landmark.user %>
               | <%= link_to "edit", edit_landmark_path(landmark) , class: "" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
</div>
