<h2>Food Landmarks</h2>

<p id="notice"><%= notice %></p>

<%= link_to "New Landmark", new_landmark_path %>


<% @landmarks.each do |landmark| %>
  <ul>
    <li>
      <div class="landmark-pic">
        <%= image_tag(landmark.photo) %>
      </div>
    </li>
    <li><%= landmark.caption %></li>
    <li><strong>Location:</strong> <%= landmark.location %></li>
    <li><strong>Address:</strong> <%= landmark.address %></li>
    <li>By: <%= landmark.user.name %></li>
    <li><%= link_to "show", landmark %>
      <% if current_user && current_user == landmark.user %>
         | <%= link_to "edit", edit_landmark_path(landmark) %></li>
      <% else %>
        </li>
      <% end %>
  </ul>
  </br>
<% end %>
