
<div class="row">

<div class="col-sm-6 col-sm-offset-3">
  <div class="thumbnail">
      <%= image_tag @landmark.photo %>
  </div>

</div>

</div>


<ul>
<div class="landmark-pic">
        <%= image_tag(@landmark.photo) %>
</div>
<li><%= @landmark.caption %></li>
<li><strong>Location:</strong> <%= @landmark.location %></li>
<li><strong>Address:</strong> <%= @landmark.address %></li>
<li>By: <%= @landmark.user.name %></li>
<% if current_user %>

  <% @user_tours.each do |tour| %>
    <div>user tours are:
    <%= tour.name %>

  <% end %>
    <div>
  <%= form_tag("/landmark/#{params[:id]}/add_tour", method: "post") do %>
    <li>Add to tour: <%= collection_select(:tour, :tour_id, @available_tours, :id, :name) %>
    <%= submit_tag("Add to Tour") %>
  <% end %>

<% end %>

</li>
</ul>



<% if current_user && current_user == @landmark.user %>
  <%= link_to "edit", edit_landmark_path %> |
<% end %>

<%= link_to "back", root_path %>

