<a href="<%= root_path %>" title="" class="pull-right"><span class="glyphicon glyphicon-remove back-button" aria-hidden="true"></span></a>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="thumbnail">
        <%= image_tag @landmark.photo %>

        <div class="caption">
          <p class="by-line">
            By: <%= @landmark.user == current_user ? "You": @landmark.user.name %>
            <% if current_user && current_user == @landmark.user %>
               | <%= link_to "edit", edit_landmark_path(@landmark) , class: "" %>
            <% end %>
          </p>
          <h3><%= @landmark.caption %></h3>
          <p><strong><%= @landmark.location %></strong></p>
          <p><%= @landmark.address %></p>

          <% if @assigned_tours.count > 0 %>
            <span>In these tours:</span>
            <ul>
              <% @assigned_tours.each do |tour| %>
                <% if tour.user = current_user %>
                  <li><%= link_to "#{tour.name}", tour_path(tour) %> |
                  <%= link_to "X", "/landmark/#{params[:id]}/remove_from_tour/#{tour.id}", method: :delete, data: { confirm: "Are you sure you want to delete this landmark?"} %></li>
                <% end %>
              <% end %>
            </ul>
          <% else %>
            <span>You haven't added this to any tours.</span>
          <% end %>

          </br>
          </br>

          <% if current_user %>
            <%= form_tag("/landmark/#{params[:id]}/add_tour", method: "post") do %>
              <li>Add to tour: <%= collection_select(:tour, :tour_id, @available_tours, :id, :name) %>
              <%= submit_tag "Add to Tour", class: "btn btn-primary" %>
            <% end %>
          <% else %>
            <p>To save landmarks to your tours, please <%= link_to "sign up", new_user_path %> or <%= link_to "log in.", new_session_path %></p>
          <% end %>

        </div>


    </div>

  </div>
</div>



