<p id="notice"> <%= notice %></p>

<h2>Tours</h2>

<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <%= link_to "New Tour", new_tour_path, class: "btn btn-danger" %>
  </div>
</div>

<br>


<div class="tours-container">
  <% @tours.each do |tour| %>
    <div class="tour">
        <div class="thumbnail">
          <div class="caption">
            <h4><%= link_to tour.name, tour_path(tour) %></h4>
            <p>
              By: <%= tour.user == current_user ? "You" : tour.user.name %>
              <% if current_user && current_user == tour.user %>
                | <%= link_to "Edit", edit_tour_path(tour) , class: "edit-button" %>
              <% end %>
            </p>
          </div>
          <div class="row landmark-thumbs-container">
            <% tour.landmarks.sample(4).each do |landmark| %>
              <div class="col-xs-6 landmark-thumb" style="background-image: url(<%= landmark.photo.url(:medium)%>);">
              </div>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>
</div>
