<p id="notice"> <%= notice %></p>

<h2>Tours</h2>

<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <%= link_to "New Tour", new_tour_path, class: "btn btn-danger" %>
  </div>
</div>

<br>


<div class="row">
  <% @tours.each do |tour| %>
    <div class="tour col-sm-6 col-md-3">
      <div class="thumbnail">
      <div class="caption">
          <a href="<%= tour_path(tour) %>" title="">
            <h4><%= tour.name %></h4>
          </a>
          <p>
              By: <%= tour.user == current_user ? "You": tour.user.name %>
              <% if current_user && current_user == tour.user %>
                 | <%= link_to "edit", edit_tour_path(tour) , class: "" %>
              <% end %>
          </p>
      </div>
        <div class="row">
          <% tour.landmarks.each do |landmark| %>
            <div class= "col-xs-6 landmark">
              <a href="#" ><img src="<%= landmark.photo %>" alt="<%= landmark.caption %>"></a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>



