<% if @referer %>
  <a href="<%= @referer %>" title="" class="pull-right"><span class="glyphicon glyphicon-remove back-button" aria-hidden="true"></span></a>
<% end %>
</br>

<h3 class="text-center"><%= @tour.name %></h3>
<h4 class="text-center">By: <%= @tour.user.name %></h4>

<div class="tour-show row">
  <div class="col-sm-6">
    <div id="map" style='width: 100%; height: 400px;'></div>
  </div>
  <div class="col-sm-6">
    <% @landmarks.each do |landmark| %>
        <div class="landmark thumbnail row" id="<%= landmark.id %>">
          <div class="col-xs-4">
            <div class="thumb-image" style="background-image: url(<%= landmark.photo(:medium) %>)"></div>
          </div>
          <div class="caption col-xs-8">
            <p><strong><%= landmark.caption %></strong></p>
            <p><%= landmark.location %></p>
            <p><%= landmark.address %></p>
            <p>By: <%= landmark.user.name %></p>
          </div>
        </div>
    <% end %>
  </div>
</div>




<script type="text/javascript">
  handler = Gmaps.build('Google');
  var markers
  handler.buildMap(
    { provider: {}, internal: {id: 'map'}},
    function(){
      var raw_json = <%= raw @hash.to_json %>;

      markers = raw_json.map(function(m) {
        marker = handler.addMarker(m)
        marker.serviceObject.set('id', m.id)
        return marker
      })
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    }
  );

  Gmaps.selectMarker = function(id) {
    $.each(markers, function() {
      if (this.serviceObject.id == id) {
        this.panTo();
        this.infowindow.open(this.getServiceObject().getMap(), this.getServiceObject());
      }
      else this.serviceObject.setAnimation(null);
    });
  }

  $('.landmark').click(function () {
    var landmark = this.id
    Gmaps.selectMarker(landmark)
  })

</script>
